h1 {
    font-size: x-large;
}

div#beat {
    padding-left: 4em;
    padding-right: 4em;
}

div#beatTop {
    /* beat top */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2em;
}

div#beatTop div {
    /* next to the image */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
